.questions {
    i {
        text-transform: capitalize;
    }

    div {
        margin-top: 25px;

        button {
            margin-top: 10px;
        }
    }
}

.questions_answer {
    padding: 0 .75rem;
}